.containerMain {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 30px;
}

input:focus {
  box-shadow: none;
  border-color: #007bff;
}
